@import "./breakpoints";

@font-face {
    font-family: "Manrope";
    src: url("fonts/manrope-medium.woff2") format("woff2"),
        url("fonts/manrope-medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "Manrope";
    src: url("fonts/manrope-bold.woff2") format("woff2"),
        url("fonts/manrope-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

:root {
    --primaryText: #222;
    --primaryBackground: #fff;
    --secondaryText: #222;
    --secondaryBackground: #f8f8f8;

    @include breakpoint(up, lg) {
        --baseSize: 1.1rem;
        --subSize: 1.25rem;
        --headingSize: 1.75rem;
    }
}

body,
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    color: var(--primaryText);
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: var(--baseSize);
    letter-spacing: 0.5px;
    line-height: 2;
}

.wrapper {
    margin: 0 auto;
    width: 90vw;

    @include breakpoint(up, lg) {
        max-width: 55vw;
    }
}

.button {
    color: var(--primaryText);
    text-decoration: none;
}

header {
    background-color: var(--secondaryBackground);
    color: var(--secondaryText);
    padding: 15px 0;

    @include breakpoint(up, lg) {
        margin: 25px 25px 0;
    }

    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    a {
        color: var(--secondaryText);
    }

    .logo {
        flex-grow: 1;

        a {
            text-decoration: none;
            font-weight: 600;
            font-size: var(--subSize);
        }
    }

    nav {
        @include breakpoint(up, lg) {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .navbar__burger {
            position: relative;
            z-index: 1;

            &[type="checkbox"] {
                display: none;
            }

            +label {
                transition: color 0.25s;
                position: relative;
                z-index: 1;
                display: block;

                span {
                    width: 25px;
                    height: 2px;
                    background-color: var(--primaryText);
                    margin-bottom: 10px;
                    display: block;
                }
            }

            &:checked {
                +label {
                    span {
                        background-color: var(--primaryBackground);
                    }
                }

                ~ul {
                    right: 0;
                }
            }
        }

        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &.open {
            ul {
                left: 0;
            }
        }

        ul {
            @include breakpoint(down, md) {
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                background-color: var(--primaryText);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: right 0.5s;
            }

            @include breakpoint(up, lg) {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            li {
                padding: 15px;

                a {
                    color: var(--primaryBackground);
                    text-decoration: none;

                    @include breakpoint(up, lg) {
                        color: var(--primaryText);
                    }
                }
            }
        }
    }
}

.mega__title {
    background-color: var(--secondaryBackground);
    color: var(--secondaryText);
    padding: 10vw 0;

    @include breakpoint(up, lg) {
        margin: 0 25px;
    }

    h1 {
        margin: 0;
        line-height: 1.25;
        font-size: var(--headingSize);
    }

    a {
        color: var(--secondaryText);
    }

    .tags {
        padding-bottom: 15px;

        ul,
        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            li {
                color: #777;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.875rem;

                &:not(:last-of-type) {
                    padding-right: 10px;

                    &:after {
                        content: '|';
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.home__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    h2 {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.post-card {
    padding: 25px 0;
    border-bottom: 3px solid #f8f8f8;

    a {
        color: var(--primaryText);
        text-decoration: none;
    }

    &_title {
        font-size: var(--subSize);
        padding: 0 0 15px;
        font-weight: 600;
    }

    &_date {
        color: #666;
    }

    &_tags {
        padding: 0 0 15px;
        color: #666;
    }

    &_excerpt {
        padding: 0 0 15px;
        color: #666;
    }
}

footer {
    &.site__footer {
        background-color: var(--secondaryBackground);
        color: var(--secondaryText);
        padding: 25px 0;
        margin: 25px;

        .wrapper {
            display: flex;

            .social__links {
                flex-grow: 1;

                ul,
                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                ul {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        a {
                            color: var(--primaryText);
                            text-decoration: none;
                        }

                        &:not(:last-of-type) {
                            padding-right: 10px;

                            &::after {
                                content: '|';
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}